/* Nav CSS Styles */


* {
  margin: 0;
}

nav {
  height: 120px;
  width: 100%;
  background-color: #4056A1;
  color: #FFFFFF;
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  overflow: hidden;
}

nav span {
  font-family: 'Bungee', sans-serif;
  margin: 1.5em;
}

/* Classes */

.nav-link {
  margin: 1.5em;
}