/* New Tweet CSS */

.new-tweet {
  display: flex;
  flex-flow: column wrap;
  width: 100%;
  margin-top: 2em;
}

.new-tweet h2 {
  flex: 1 100%;
  margin: 1em;
  text-align: center;
}

.new-tweet label {
text-align: left;
}

.new-tweet textarea {
  width: 100%;
  height: 40px;
  resize: none;
  border:#f4f1ec;
  outline: none;
  background-color:#f4f1ec;
  border-bottom: 2px solid rgb(65, 64, 64);
  margin: 1em 0;
}

.new-tweet ::placeholder {
  font-weight: bold;
}

.tweet-footer {
  display: flex;
  justify-content: space-between;
}

.new-tweet button {
  font-family: 'Bungee', sans-serif;
  background-color: #4056A1;
  color: white;
}

.new-tweet output {
  font-family: 'Bungee', sans-serif;
}

.new-tweet button:hover {
  background-color: #5c72b9;
  cursor: pointer;
}

.error-message {
  text-align: center;
  margin-bottom: .5em;
  padding: .5em;
  color: rgb(228, 63, 63);
  background-color: #FFD2D2;
  display: none;
  cursor: pointer;
}
